<template>
  <div>
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <div class="inner cover">
          <h1 class="cover-heading">Web de practica</h1>
          <p class="lead">Para ver los productos y la lista To Do necesita iniciar cesión.</p>
          <p class="lead">
            <a href="#" @click="goToLogin()" class="btn btn-lg btn-secondary">Login</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-12 mb-5">

        <div class="row justify-content-center">

          <div class="col-sm-3">
            <div class="card">
              <charts-component-bar></charts-component-bar>
              <div class="card-body">
                <h5 class="card-title">Grafica de barra</h5>
                <p class="card-text">Grafica de barra con datos que se generan de forma aleatoria dentro de una card.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

          <div class="col-sm-3 mt-3">
            <div class="card">
              <charts-component-line></charts-component-line>
              <div class="card-body">
                <h5 class="card-title">Grafica Polar Area</h5>
                <p class="card-text">Grafica Polar Area con datos que se generan de forma aleatoria dentro de una card.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>

  </div>
</template>

<script>

    export default {

        methods: {
            goToLogin() {
                this.$router.push('login');
            }
        }

    }

</script>
