<template>
  <div>
    <div class="wrapper ">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class=" first mt-3">
          <h1>Login</h1>
        </div>

        <!-- Login Form -->
          <input type="email" id="login" class="" name="login" v-model="mail" placeholder="Email">
          <input type="password" v-on:keyup.enter="verificationLog()" id="password" class="" name="login" v-model="pass" placeholder="Contraseña">
          <input type="submit" class="" value="Log In" @click="verificationLog()">
          <p class="text-danger">{{loginError}}</p>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" @click="registerUser()" href="#">Registrarse</a>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
    export default {
        mounted() {
            if (localStorage.accessToken) {
                this.accessToken = '';
            }
            if(localStorage.logged){
                this.logged = false;
            }
        },
        data() {
          return{
              mail: '',
              pass: '',
              loginError:'',
              accessToken:'',
              logged:'false',

          }

        },
        methods: {
            verificationLog(){
                var patron=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/;
                if(this.mail.search(patron)!==0){
                    this.loginError = 'Ingresar un email valido';
                    return;
                }
                if(!this.mail.length){
                    this.loginError = 'Ingresar email';
                    return;
                }
                if(!this.pass.length){
                    this.loginError = 'Ingresar pass';
                    return;
                }
                this.loginError = '';
                this.getLogin();
            },getLogin() {
                let url = 'http://157.230.228.158:8000/api/login';
                var params = {
                    email: this.mail,
                    password: this.pass
                }
                axios.post(url, params,{
                }).then(response => {
                    if (!response.data.success) {
                        this.loginError = response.data.message;
                    }else{
                        this.loginError = response.data.message;
                        this.saveLogin(response.data.access_token);
                        this.$router.push('product');
                    }
                });
            },
            saveLogin(token){
                localStorage.accessToken = token;
                localStorage.logged = true;
            },
            registerUser(){
                this.$router.go('register')
            }

        }
    }


</script>

