<template>
  <div class="row ">
    <banner></banner>
    <div class="col-12">

      <div class="row mt-5">
        <div class="col-md-4" v-bind:key="'product'+index" v-for="(product, index) in products">
          <figure class="card card-product">
            <div class="img-wrap"><img :src="product.img"></div>
            <figcaption class="info-wrap">
              <h4 class="title">{{product.title}}</h4>
              <p class="desc">{{product.description}}</p>
              <div class="rating-wrap">
                <div class="label-rating">{{product.reviews}} reviews</div>
                <div class="label-rating">{{product.orders}} orders</div>
              </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap">
              <button class="btn btn-sm btn-primary float-right">Ordenar ahora</button>
              <div class="price-wrap h5">
                <span class="price-new">${{product.price}}</span>
                <del class="price-old">${{product.priceFalse}}</del>
              </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
          </figure>
        </div> <!-- col // -->

      </div> <!-- row.// -->

    </div>



  </div>
  <!--container.//-->
</template>

<script>
    import loggedVerify from '../components/verifyLogin.js'

    export default {
        extends: loggedVerify,
        mounted() {
            this.polling = setInterval(() => {
                this.getProducts();
            }, 5000);
            if (localStorage.accessToken) {
                this.accessToken = localStorage.accessToken;
            }
            this.verify();
            this.getProducts();

        },
        beforeDestroy() {
            clearInterval(this.loggedVerify)
            clearInterval(this.polling)

        },
        data() {
            return {
                accessToken: '',
                logged: '',
                polling: null,
                products: []
            }
        }, methods: {
            getProducts() {
                let url = 'http://157.230.228.158:8000/api/products';
                let config = {
                    headers: {
                        Authorization: this.accessToken,
                    }
                };
                axios.get(url, config, {}).then(response => {
                    if (!response.data.success) {
                        alert(response.data.message);
                    } else {
                        this.products = [];
                        for (let index in response.data.data) {
                            this.products.push({
                                    title: response.data.data[index].name,
                                    description: response.data.data[index].detail,
                                    reviews: 235,
                                    orders: 200,
                                    price: response.data.data[index].price,
                                    priceFalse: response.data.data[index].cost,
                                    img: 'https://www.crackbangboom.com.ar/wp-content/uploads/2018/12/producto-remera-cbb.jpg'
                                }
                            )
                        }
                    }
                });
            },
            verifyLogget() {

            }
        }
    }

</script>
