<template>
  <div class="my-form">
    <div class="cotainer">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">Register</div>
            <div class="card-body">
              <div class="form-group row">

                <label for="full_name" class="col-md-4 col-form-label text-md-right fadeIn second">Nombre</label>
                <div class="col-md-6">
                  <input type="text" v-model="name" id="full_name" class="form-control fadeIn third" name="full-name">
                </div>
              </div>

              <div class="form-group row">
                <label for="email_address" class="col-md-4 col-form-label text-md-right fadeIn second">Correo</label>
                <div class="col-md-6">
                  <input type="email" v-model="mail" id="email_address" class="form-control fadeIn third" name="email-address">
                </div>
              </div>

              <div class="form-group row">
                <label for="user_name" class="col-md-4 col-form-label text-md-right fadeIn second">Contraseña</label>
                <div class="col-md-6">
                  <input type="password" v-model="newPass" id="user_name" class="form-control fadeIn third" name="username">
                </div>
              </div>

              <div class="form-group row">
                <label for="phone_number" class="col-md-4 col-form-label text-md-right fadeIn second">Confirmar contraseña</label>
                <div class="col-md-6">
                  <input type="password" v-model="confirmPass" id="phone_number" class="form-control fadeIn third">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" @click="goBack()" class="btn btn-primary fadeIn fourth">
                    Volver
                  </button>
                </div>
                <div class="col-md-6">
                  <button type="submit" @click="registerUser()" class="btn btn-primary fadeIn fourth float-right">
                    Register
                  </button>
                </div>
              </div>
              <p class="text-center mt-3 text-danger">{{errorRegister}}</p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</template>

<script>
    export default {
        data() {
            return {
                name: '',
                mail: '',
                newPass: '',
                confirmPass: '',
                errorRegister: '',
            }
        },
        methods: {
            goBack() {
                this.$router.push('login')
            },
            registerUser() {
                if (!this.name.length ) {
                    this.errorRegister = 'Ingrese un nombre';
                    return;
                }else if(this.name.length<4){
                    this.errorRegister = 'Nombre muy corto';
                    return;
                }
                var patron=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/;
                if(this.mail.search(patron)!==0){
                    this.errorRegister = 'Ingresar un mail valido';
                    return;
                }
                if(this.mail.search(patron)!==0){
                    this.errorRegister = 'Ingresar un mail valido';
                    return;
                }
                if (!this.mail.length) {
                    this.errorRegister = 'Ingrese un correo';
                    return;
                }
                if (!this.newPass.length) {
                    this.errorRegister = 'Ingrese una contraseña';
                    return;
                }else if(this.newPass.length<4){
                    this.errorRegister = 'Contraseña muy corta';
                    return;
                }
                if (!this.confirmPass.length) {
                    this.errorRegister = 'Confirme la contraseña';
                    return;
                }
                if(this.newPass.localeCompare(this.confirmPass)){
                    this.errorRegister = 'Las contraseña no coinciden';
                    return;
                }
                this.errorRegister = '';
                this.getRegister();
            },
            getRegister() {
                let url = 'http://157.230.228.158:8000/api/register';
                var params = new URLSearchParams();
                params.append('email', this.mail);
                params.append('password', this.newPass);
                params.append('c_password', this.confirmPass);
                params.append('name', this.name);
                axios.post(url, params,{
                }).then(response => {
                    if (!response.data.success) {
                        this.errorRegister = response.data.message;
                    }else{
                        this.$router.push('login')
                    }
                });
            },

        }
    }
</script>
