<template>
  <to-do-list-component></to-do-list-component>
</template>

<script>
import loggedVerify from '../components/verifyLogin.js'
export default {
  extends: loggedVerify,
  mounted(){
    this.verify();
  }
}
</script>