<template>
  <router-link :to="link.path">
    <a :class="['nav-item', 'nav-link', active]">{{link.name}}</a>
  </router-link>
</template>

<script>
    export default {
        props: {
            active: null,
            link: null
        },
    }
</script>
