<template>
  <!--Navbar-->
  <nav class="navbar navbar-dark bg-dark lighten-4">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example purple darken-3" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41" aria-expanded="false"
            aria-label="Toggle navigation"><span class="white-text"><i class="fas fa-bars fa-1x"></i></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent41">

      <!-- Links -->
        <div class="navbar-nav">
          <link-component v-for="link in menu.links" :link="link"></link-component>
          <!--        validar si el usuario esta logueado-->
        </div>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->
</template>

<script>
    import menu from '../../menu.js'

    export default {
        data(){
            return {
                menu: menu
            }
        }
    }
</script>
