<template>
  <div id="app">
    <navbar-component></navbar-component>
    <div class="container-fluid">
      <!--<example-component></example-component>
      <charts-component></charts-component>-->
        <transition name="slide-fade" mode="out-in">
          <router-view :key="$route.fullPath"></router-view>
        </transition>
    </div>
    <!--<footer-component></footer-component>-->
  </div>
</template>
