<template>
  <div>

    <div class="row justify-content-center">

      <div class="col-8">

        <div class="card text-center">

          <div class="card-header">
            Usuarios
          </div>

          <div class="card-body">
            <form>
              <div class="form-row align-items-center justify-content-center">
                <div class="col-sm-4 col-xl-3 my-1">
                  <label class="sr-only" for="name">Nombre</label>
                  <input type="text" class="form-control" id="name" v-model="newUser" placeholder="Nombre">
                </div>
                <div class="col-sm-4 col-xl-3 my-1">
                  <label class="sr-only" for="monto">Monto</label>
                  <input type="number" class="form-control" id="monto" v-model="newMonto" placeholder="Monto">
                </div>
                <div class="col-auto my-1">
                  <button type="button" @click="createUser()" class="btn btn-primary">Crear</button>
                </div>
              </div>
            </form>

            <h6 class="text-danger">{{inputError}}</h6>
            <table class="table">
              <tr>
                <td>Nombre</td>
                <td>Monto</td>
                <td>Opciones</td>
              </tr>

              <tr v-for="(user,index) in users">
                <td @click="remplaceName(index)">
                  <div class="form-group row justify-content-center">
                    <div class="col-xs-2">
                      <input hidden v-on:keyup.enter="update(index,1)"
                             @blur="ocultItem(index,1)" type="text" class="form-control" :id="'Name'+index">
                      <span :id="'name'+index">{{user.name}}</span>
                    </div>
                  </div>
                </td>


                <td @click="replaceField(index)">
                  <div class="form-group row justify-content-center">
                    <div class="col-xs-2">
                      <input hidden v-on:keyup.enter="update(index,0)"
                             @blur="ocultItem(index,0)" type="number" class="form-control" :id="'Field'+index">
                      <span :id="'mont'+index">{{user.monto}}</span>
                    </div>
                  </div>
                </td>

                <td>
                  <button :id="'del'+index" type="button" @click="removeItem(index)" class="btn btn-danger">Eliminar
                  </button>
                </td>

              </tr>
            </table>

          </div>
          <div class="card-footer text-muted">
            <span>Monto total: {{total}}</span>
          </div>
        </div>

      </div>

    </div>


  </div>
</template>

<script>
    export default {
        mounted() {
            this.totalItems();
        },
        data() {
            return {
                newTask: '',
                newMonto: '',
                total: 0,
                inputError: '',
                tasks: [
                    {
                        name: 'Pablo',
                        monto: 10000
                    },
                    {
                        name: 'Jose',
                        monto: 1220

                    }
                ]
            }
        },
        methods: {
            replaceField(index) {
                let cantida = this.tasks[index].monto;
                $('#Field' + index).removeAttr('hidden');
                $('#Field' + index).attr("value", cantida);
                $('#Field' + index).focus();
                $('#mont' + index).attr("hidden", true);
            },
            remplaceName(index) {
                let name = this.tasks[index].name;
                $('#Name' + index).removeAttr('hidden');
                $('#Name' + index).attr("value", name);
                $('#Name' + index).focus();
                $('#name' + index).attr("hidden", true);
            },
            createUser() {
                if (!this.newTask.length) {
                    this.inputError = 'Ingresar nombre';
                    return;
                } else if (!this.newMonto.length) {
                    this.inputError = 'Ingresar monto';
                    return;
                }

                this.tasks.push({name: this.newTask, monto: this.newMonto});
                this.newUser = "";
                this.newMonto = "";
                this.inputError = '';

            },

            update(index, item) {
                if (item == 0) {
                    let cantidad = $('#Field' + index).val();
                    this.tasks[index]['monto'] = cantidad;
                    $('#mont' + index).attr("hidden", false);
                    $('#Field' + index).attr("hidden", true);
                    this.totalItems();
                }
                if (item == 1) {
                    let cantidad = $('#Name' + index).val();
                    this.tasks[index]['name'] = cantidad;
                    $('#name' + index).attr("hidden", false);
                    $('#Name' + index).attr("hidden", true);
                    this.totalItems();
                }
            },
            ocultItem(index, item) {
                if (item == 0) {
                    $('#mont' + index).attr("hidden", false);
                    $('#Field' + index).attr("hidden", true);
                } else {
                    $('#name' + index).attr("hidden", false);
                    $('#Name' + index).attr("hidden", true);
                }

            },
            removeItem(index) {
                this.tasks.splice(index, 1);
            },
            totalItems() {
                this.total = 0;
                for (var index in this.tasks) {
                    this.total += parseFloat(this.tasks[index].monto);
                }
            }
        },
        watch: {
            users: function () {
                this.totalItems();

            },
        }
    }

</script>
