<template>
  <div>

    <div class="row justify-content-center">

      <div class="col-8">

        <div class="card text-center">

          <div class="card-header">
            Lista de tareas
          </div>

          <div class="card-body">

            <div class="form-row align-items-center justify-content-center">
              <div class="col-sm-4 col-xl-3 my-1">
                <input type="text" class="form-control" id="name" v-model="newTask" v-on:keyup.enter="createUser()"
                       placeholder="Tarea">
              </div>
              <div class="col-auto my-1">
                <button type="button" @click="createUser()" class="btn btn-primary">Crear</button>
              </div>
            </div>

            <h6 class="text-danger">{{inputError}}</h6>
            <table class="table table-responsive-sm table-striped">
              <thead>
              <tr>
                <th>Lista</th>
                <th>Completar</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(task,index) in tasks">
                <td @click="remplaceName(index)">
                  <div class="form-group row justify-content-center">
                    <div class="col-xs-2">
                      <input hidden v-on:keyup.enter="update(index)"
                             @blur="ocultItem(index)" type="text" class="form-control" :id="'Task'+index">
                      <span :id="'InputTask'+index">{{task.name}}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <button :id="'del'+index" type="button" @click="removeItem(index)" class="btn btn-danger">Eliminar
                  </button>
                </td>
              </tr>
              <tr v-if="tasks.length === 0">
                <td colspan="2">Sin tareas</td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>

      </div>

    </div>


  </div>
</template>

<script>
    export default {
        data() {
            return {
                newTask: '',
                inputError: '',
                tasks: []
            }
        },
        methods: {
            remplaceName(index) {
                let name = this.tasks[index].name;
                $('#Task' + index).removeAttr('hidden');
                $('#Task' + index).attr("value", name);
                $('#Task' + index).focus();
                $('#InputTask' + index).attr("hidden", true);
            },
            createUser() {
                if (!this.newTask.length) {
                    this.inputError = 'Ingresar tarea';
                    return;
                }
                this.tasks.push({name: this.newTask});
                this.newTask = "";
                this.inputError = '';

            },

            update(index, item) {

                let task = $('#Task' + index).val();
                this.tasks[index]['name'] = task;
                $('#InputTask' + index).attr("hidden", false);
                $('#Task' + index).attr("hidden", true);

            },
            ocultItem(index, item) {
                setTimeout(()=>{
                  $('#InputTask' + index).attr("hidden", false);
                  $('#Task' + index).attr("hidden", true);
                }, 2000)
            },
            removeItem(index) {
                this.tasks.splice(index, 1);
            },
        },

    }

</script>
