<template>
    <div class="body table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>{{userData.name.first}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{userData.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        mounted(){
            this.getUserDetails();
        },
        data() {
            return {
                userData: {
                    name: {first: ''},
                    email: ''
                },
                page: 1
            }
        },
        methods: {
            getUserDetails() {
                let url = 'https://randomuser.me/api';
                axios.get(url, {
                    results: 2,
                    page: this.page
                }).then(response => {
                    if (!response.data.results.length) {
                        alert('Error en el sistema');
                    }

                    this.userData = response.data.results[0];
                    this.page += 1;
                });
            },

        }
    }
</script>
