<template>
  <div>
    <LineChart :chart-data="datacollection" :options="chartOptions"></LineChart>
  </div>
</template>

<script>
    /*import LineChart from './LineChart.js'*/
    import BarChart from './BarChart.js'
    import LineChart from "./LineChart";
    import PieChart from "./PieChart";

    export default {

        components: {
            PieChart,
            LineChart,
            BarChart
        },
        data () {
            return {
                datacollection: {},
                chartOptions: {}
            }
        },
        mounted () {
            this.polling = setInterval(() => {
                this.fillData();
            }, 2000);
            this.fillData(),
            this.fillOptions()
        },
        beforeDestroy () {
            clearInterval(this.polling)
        },
        methods: {
            fillOptions() {
                this.chartOptions = {
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                                // OR //
                                beginAtZero: true   // minimum value will be 0.
                            }
                        }]
                    }
                }
            }
            ,fillData () {
                this.datacollection = {
                    labels: [this.getRandomInt(), this.getRandomInt(),this.getRandomInt()],
                    datasets: [
                        {
                            label: 'Data One',
                            backgroundColor: ['#fff41d','#05e800','#001ff8'],
                            data: [this.getRandomInt(), this.getRandomInt(),this.getRandomInt()]
                        }
                    ]
                }
            },
            getRandomInt () {
                return Math.floor(Math.random() * (100 - 5 + 1)) + 5
            }
        }
    }
</script>

<style>
  .small {
    max-width: 600px;
    margin:  150px auto;
  }
</style>
